In this notebook, we will learn about:

* [Tibbles](#Tibbles), a modern take on R data frames
* [Data import](#data-import)

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.2.1     ✔ purrr   0.3.3
✔ tibble  2.1.3     ✔ dplyr   0.8.4
✔ tidyr   1.0.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

# Tibbles

In [2]:
iris # the famous iris data set used by Sir Ronald Fisher

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1   5.1          3.5         1.4          0.2         setosa
2   4.9          3.0         1.4          0.2         setosa
3   4.7          3.2         1.3          0.2         setosa
4   4.6          3.1         1.5          0.2         setosa
5   5.0          3.6         1.4          0.2         setosa
6   5.4          3.9         1.7          0.4         setosa
7   4.6          3.4         1.4          0.3         setosa
8   5.0          3.4         1.5          0.2         setosa
9   4.4          2.9         1.4          0.2         setosa
10  4.9          3.1         1.5          0.1         setosa
11  5.4          3.7         1.5          0.2         setosa
12  4.8          3.4         1.6          0.2         setosa
13  4.8          3.0         1.4          0.1         setosa
14  4.3          3.0         1.1          0.1         setosa
15  5.8          4.0         1.2          0.2         setosa
16  5.7          4.4         1.5          0.4         setosa
17  5.4          3.9         1.3          0.4         setosa
18  5.1          3.5         1.4          0.3         setosa
19  5.7          3.8         1.7          0.3         setosa
20  5.1          3.8         1.5          0.3         setosa
21  5.4          3.4         1.7          0.2         setosa
22  5.1          3.7         1.5          0.4         setosa
23  4.6          3.6         1.0          0.2         setosa
24  5.1          3.3         1.7          0.5         setosa
25  4.8          3.4         1.9          0.2         setosa
26  5.0          3.0         1.6          0.2         setosa
27  5.0          3.4         1.6          0.4         setosa
28  5.2          3.5         1.5          0.2         setosa
29  5.2          3.4         1.4          0.2         setosa
30  4.7          3.2         1.6          0.2         setosa
⋮   ⋮            ⋮           ⋮            ⋮           ⋮
121 6.9          3.2         5.7          2.3         virginica
122 5.6          2.8         4.9          2.0         virginica
123 7.7          2.8         6.7          2.0         virginica
124 6.3          2.7         4.9          1.8         virginica
125 6.7          3.3         5.7          2.1         virginica
126 7.2          3.2         6.0          1.8         virginica
127 6.2          2.8         4.8          1.8         virginica
128 6.1          3.0         4.9          1.8         virginica
129 6.4          2.8         5.6          2.1         virginica
130 7.2          3.0         5.8          1.6         virginica
131 7.4          2.8         6.1          1.9         virginica
132 7.9          3.8         6.4          2.0         virginica
133 6.4          2.8         5.6          2.2         virginica
134 6.3          2.8         5.1          1.5         virginica
135 6.1          2.6         5.6          1.4         virginica
136 7.7          3.0         6.1          2.3         virginica
137 6.3          3.4         5.6          2.4         virginica
138 6.4          3.1         5.5          1.8         virginica
139 6.0          3.0         4.8          1.8         virginica
140 6.9          3.1         5.4          2.1         virginica
141 6.7          3.1         5.6          2.4         virginica
142 6.9          3.1         5.1          2.3         virginica
143 5.8          2.7         5.1          1.9         virginica
144 6.8          3.2         5.9          2.3         virginica
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [3]:
(iris_tibble <- as_tibble(iris)) # convert to a tibble

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1   5.1          3.5         1.4          0.2         setosa
2   4.9          3.0         1.4          0.2         setosa
3   4.7          3.2         1.3          0.2         setosa
4   4.6          3.1         1.5          0.2         setosa
5   5.0          3.6         1.4          0.2         setosa
6   5.4          3.9         1.7          0.4         setosa
7   4.6          3.4         1.4          0.3         setosa
8   5.0          3.4         1.5          0.2         setosa
9   4.4          2.9         1.4          0.2         setosa
10  4.9          3.1         1.5          0.1         setosa
11  5.4          3.7         1.5          0.2         setosa
12  4.8          3.4         1.6          0.2         setosa
13  4.8          3.0         1.4          0.1         setosa
14  4.3          3.0         1.1          0.1         setosa
15  5.8          4.0         1.2          0.2         setosa
16  5.7          4.4         1.5          0.4         setosa
17  5.4          3.9         1.3          0.4         setosa
18  5.1          3.5         1.4          0.3         setosa
19  5.7          3.8         1.7          0.3         setosa
20  5.1          3.8         1.5          0.3         setosa
21  5.4          3.4         1.7          0.2         setosa
22  5.1          3.7         1.5          0.4         setosa
23  4.6          3.6         1.0          0.2         setosa
24  5.1          3.3         1.7          0.5         setosa
25  4.8          3.4         1.9          0.2         setosa
26  5.0          3.0         1.6          0.2         setosa
27  5.0          3.4         1.6          0.4         setosa
28  5.2          3.5         1.5          0.2         setosa
29  5.2          3.4         1.4          0.2         setosa
30  4.7          3.2         1.6          0.2         setosa
⋮   ⋮            ⋮           ⋮            ⋮           ⋮
121 6.9          3.2         5.7          2.3         virginica
122 5.6          2.8         4.9          2.0         virginica
123 7.7          2.8         6.7          2.0         virginica
124 6.3          2.7         4.9          1.8         virginica
125 6.7          3.3         5.7          2.1         virginica
126 7.2          3.2         6.0          1.8         virginica
127 6.2          2.8         4.8          1.8         virginica
128 6.1          3.0         4.9          1.8         virginica
129 6.4          2.8         5.6          2.1         virginica
130 7.2          3.0         5.8          1.6         virginica
131 7.4          2.8         6.1          1.9         virginica
132 7.9          3.8         6.4          2.0         virginica
133 6.4          2.8         5.6          2.2         virginica
134 6.3          2.8         5.1          1.5         virginica
135 6.1          2.6         5.6          1.4         virginica
136 7.7          3.0         6.1          2.3         virginica
137 6.3          3.4         5.6          2.4         virginica
138 6.4          3.1         5.5          1.8         virginica
139 6.0          3.0         4.8          1.8         virginica
140 6.9          3.1         5.4          2.1         virginica
141 6.7          3.1         5.6          2.4         virginica
142 6.9          3.1         5.1          2.3         virginica
143 5.8          2.7         5.1          1.9         virginica
144 6.8          3.2         5.9          2.3         virginica
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [4]:
tibble(
    x = seq(100, 1000, 100),
    y = 50,   # vectors of shorter length are automatically expanded
    z = x + 50   # variables are created sequentially so can refer to a variable already created
)

   x    y  z
1   100 50  150
2   200 50  250
3   300 50  350
4   400 50  450
5   500 50  550
6   600 50  650
7   700 50  750
8   800 50  850
9   900 50  950
10 1000 50 1050

To create tibbles by specifiying rows, use `tribble` (for **tr**ansposed t**ibble**)

In [5]:
tribble(
    ~letter, ~Letter, ~number, # note use of R formulas in specifying variables names in tribble()
    #--|---|---
    "a", "A", 1,
    "f", "F", 6,
    "k", "K", 11,
    "p", "P", 16,
    "u", "U", 21,
    "z", "Z", 26
)

  letter Letter number
1 a      A       1
2 f      F       6
3 k      K      11
4 p      P      16
5 u      U      21
6 z      Z      26

Data frames and tibble print differently

In [6]:
print(iris)

    Sepal.Length Sepal.Width Petal.Length Petal.Width    Species
1            5.1         3.5          1.4         0.2     setosa
2            4.9         3.0          1.4         0.2     setosa
3            4.7         3.2          1.3         0.2     setosa
4            4.6         3.1          1.5         0.2     setosa
5            5.0         3.6          1.4         0.2     setosa
6            5.4         3.9          1.7         0.4     setosa
7            4.6         3.4          1.4         0.3     setosa
8            5.0         3.4          1.5         0.2     setosa
9            4.4         2.9          1.4         0.2     setosa
10           4.9         3.1          1.5         0.1     setosa
11           5.4         3.7          1.5         0.2     setosa
12           4.8         3.4          1.6         0.2     setosa
13           4.8         3.0          1.4         0.1     setosa
14           4.3         3.0          1.1         0.1     setosa
15           5.8         4.0          1.2         0.2     setosa
16           5.7         4.4          1.5         0.4     setosa
17           5.4         3.9          1.3         0.4     setosa
18           5.1         3.5          1.4         0.3     setosa
19           5.7         3.8          1.7         0.3     setosa
20           5.1         3.8          1.5         0.3     setosa
21           5.4         3.4          1.7         0.2     setosa
22           5.1         3.7          1.5         0.4     setosa
23           4.6         3.6          1.0         0.2     setosa
24           5.1         3.3          1.7         0.5     setosa
25           4.8         3.4          1.9         0.2     setosa
26           5.0         3.0          1.6         0.2     setosa
27           5.0         3.4          1.6         0.4     setosa
28           5.2         3.5          1.5         0.2     setosa
29           5.2         3.4          1.4         0.2     setosa
30           4.7         3.2          1.6         0.2     setosa
31           4.8         3.1          1.6         0.2     setosa
32           5.4         3.4          1.5         0.4     setosa
33           5.2         4.1          1.5         0.1     setosa
34           5.5         4.2          1.4         0.2     setosa
35           4.9         3.1          1.5         0.2     setosa
36           5.0         3.2          1.2         0.2     setosa
37           5.5         3.5          1.3         0.2     setosa
38           4.9         3.6          1.4         0.1     setosa
39           4.4         3.0          1.3         0.2     setosa
40           5.1         3.4          1.5         0.2     setosa
41           5.0         3.5          1.3         0.3     setosa
42           4.5         2.3          1.3         0.3     setosa
43           4.4         3.2          1.3         0.2     setosa
44           5.0         3.5          1.6         0.6     setosa
45           5.1         3.8          1.9         0.4     setosa
46           4.8         3.0          1.4         0.3     setosa
47           5.1         3.8          1.6         0.2     setosa
48           4.6         3.2          1.4         0.2     setosa
49           5.3         3.7          1.5         0.2     setosa
50           5.0         3.3          1.4         0.2     setosa
51           7.0         3.2          4.7         1.4 versicolor
52           6.4         3.2          4.5         1.5 versicolor
53           6.9         3.1          4.9         1.5 versicolor
54           5.5         2.3          4.0         1.3 versicolor
55           6.5         2.8          4.6         1.5 versicolor
56           5.7         2.8          4.5         1.3 versicolor
57           6.3         3.3          4.7         1.6 versicolor
58           4.9         2.4          3.3         1.0 versicolor
59           6.6         2.9          4.6         1.3 versicolor
60           5.2         2.7          3.9         1.4 versicolor
61           5.0         2.0          3.5         1.0 versicolor
62           5.9         3.0          4.2         1.5 versicolor
63           6.0         2.2          4.0         1.0 versicolor
64           6.1         2.9          4.7         1.4 versicolor
65           5.6         2.9          3.6         1.3 versicolor
66           6.7         3.1          4.4         1.4 versicolor
67           5.6         3.0          4.5         1.5 versicolor
68           5.8         2.7          4.1         1.0 versicolor
69           6.2         2.2          4.5         1.5 versicolor
70           5.6         2.5          3.9         1.1 versicolor
71           5.9         3.2          4.8         1.8 versicolor
72           6.1         2.8          4.0         1.3 versicolor
73           6.3         2.5          4.9         1.5 versicolor
74           6.1         2.8          4.7         1.2 versicolor
75           6.4         2.9          4.3         1.3 versicolor
76           6.6         3.0          4.4         1.4 versicolor
77           6.8         2.8          4.8         1.4 versicolor
78           6.7         3.0          5.0         1.7 versicolor
79           6.0         2.9          4.5         1.5 versicolor
80           5.7         2.6          3.5         1.0 versicolor
81           5.5         2.4          3.8         1.1 versicolor
82           5.5         2.4          3.7         1.0 versicolor
83           5.8         2.7          3.9         1.2 versicolor
84           6.0         2.7          5.1         1.6 versicolor
85           5.4         3.0          4.5         1.5 versicolor
86           6.0         3.4          4.5         1.6 versicolor
87           6.7         3.1          4.7         1.5 versicolor
88           6.3         2.3          4.4         1.3 versicolor
89           5.6         3.0          4.1         1.3 versicolor
90           5.5         2.5          4.0         1.3 versicolor
91           5.5         2.6          4.4         1.2 versicolor
92           6.1         3.0          4.6         1.4 versicolor
93           5.8         2.6          4.0         1.2 versicolor
94           5.0         2.3          3.3         1.0 versicolor
95           5.6         2.7          4.2         1.3 versicolor
96           5.7         3.0          4.2         1.2 versicolor
97           5.7         2.9          4.2         1.3 versicolor
98           6.2         2.9          4.3         1.3 versicolor
99           5.1         2.5          3.0         1.1 versicolor
100          5.7         2.8          4.1         1.3 versicolor
101          6.3         3.3          6.0         2.5  virginica
102          5.8         2.7          5.1         1.9  virginica
103          7.1         3.0          5.9         2.1  virginica
104          6.3         2.9          5.6         1.8  virginica
105          6.5         3.0          5.8         2.2  virginica
106          7.6         3.0          6.6         2.1  virginica
107          4.9         2.5          4.5         1.7  virginica
108          7.3         2.9          6.3         1.8  virginica
109          6.7         2.5          5.8         1.8  virginica
110          7.2         3.6          6.1         2.5  virginica
111          6.5         3.2          5.1         2.0  virginica
112          6.4         2.7          5.3         1.9  virginica
113          6.8         3.0          5.5         2.1  virginica
114          5.7         2.5          5.0         2.0  virginica
115          5.8         2.8          5.1         2.4  virginica
116          6.4         3.2          5.3         2.3  virginica
117          6.5         3.0          5.5         1.8  virginica
118          7.7         3.8          6.7         2.2  virginica
119          7.7         2.6          6.9         2.3  virginica
120          6.0         2.2          5.0         1.5  virginica
121          6.9         3.2          5.7         2.3  virginica
122          5.6         2.8          4.9         2.0  virginica
123          7.7         2.8          6.7         2.0  virginica
124          6.3         2.7          4.9         1.8  virginica
125          6.7         3.3          5.7         2.1  virginica
126          7.2         3.2          6.0         1.8  virginica
127          6.2         2.8          4.8         1.8  virginica
128          6.1         3.0          4.9         1.8  virginica
129          6.4         2.8          5.6         2.1  virginica
130          7.2         3.0          5.8         1.6  virginica
131          7.4         2.8          6.1         1.9  virginica
132          7.9         3.8          6.4         2.0  virginica
133          6.4         2.8          5.6         2.2  virginica
134          6.3         2.8          5.1         1.5  virginica
135          6.1         2.6          5.6         1.4  virginica
136          7.7         3.0          6.1         2.3  virginica
137          6.3         3.4          5.6         2.4  virginica
138          6.4         3.1          5.5         1.8  virginica
139          6.0         3.0          4.8         1.8  virginica
140          6.9         3.1          5.4         2.1  virginica
141          6.7         3.1          5.6         2.4  virginica
142          6.9         3.1          5.1         2.3  virginica
143          5.8         2.7          5.1         1.9  virginica
144          6.8         3.2          5.9         2.3  virginica
145          6.7         3.3          5.7         2.5  virginica
146          6.7         3.0          5.2         2.3  virginica
147          6.3         2.5          5.0         1.9  virginica
148          6.5         3.0          5.2         2.0  virginica
149          6.2         3.4          5.4         2.3  virginica
150          5.9         3.0          5.1         1.8  virginica

In [7]:
print(iris_tibble) # only first 10 rowsm with type info, are printed

# A tibble: 150 x 5
   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
          <dbl>       <dbl>        <dbl>       <dbl> <fct>
 1          5.1         3.5          1.4         0.2 setosa
 2          4.9         3            1.4         0.2 setosa
 3          4.7         3.2          1.3         0.2 setosa
 4          4.6         3.1          1.5         0.2 setosa
 5          5           3.6          1.4         0.2 setosa
 6          5.4         3.9          1.7         0.4 setosa
 7          4.6         3.4          1.4         0.3 setosa
 8          5           3.4          1.5         0.2 setosa
 9          4.4         2.9          1.4         0.2 setosa
10          4.9         3.1          1.5         0.1 setosa
# … with 140 more rows

You can control the default printing behavior in a couple of ways.

In [8]:
mpg %>%
    print(n = 20, width = Inf)

# A tibble: 234 x 11
   manufacturer model              displ  year   cyl trans      drv     cty
   <chr>        <chr>              <dbl> <int> <int> <chr>      <chr> <int>
 1 audi         a4                   1.8  1999     4 auto(l5)   f        18
 2 audi         a4                   1.8  1999     4 manual(m5) f        21
 3 audi         a4                   2    2008     4 manual(m6) f        20
 4 audi         a4                   2    2008     4 auto(av)   f        21
 5 audi         a4                   2.8  1999     6 auto(l5)   f        16
 6 audi         a4                   2.8  1999     6 manual(m5) f        18
 7 audi         a4                   3.1  2008     6 auto(av)   f        18
 8 audi         a4 quattro           1.8  1999     4 manual(m5) 4        18
 9 audi         a4 quattro           1.8  1999     4 auto(l5)   4        16
10 audi         a4 quattro           2    2008     4 manual(m6) 4        20
11 audi         a4 quattro           2    2008     4 auto(s6)   4        19
12 audi         a4 quattro           2.8  1999     6 auto(l5)   4        15
13 audi         a4 quattro           2.8  1999     6 manual(m5) 4        17
14 audi         a4 quattro           3.1  2008     6 auto(s6)   4        17
15 audi         a4 quattro           3.1  2008     6 manual(m6) 4        15
16 audi         a6 quattro           2.8  1999     6 auto(l5)   4        15
17 audi         a6 quattro           3.1  2008     6 auto(s6)   4        17
18 audi         a6 quattro           4.2  2008     8 auto(s6)   4        16
19 chevrolet    c1500 suburban 2wd   5.3  2008     8 auto(l4)   r        14
20 chevrolet    c1500 suburban 2wd   5.3  2008     8 auto(l4)   r        11
     hwy fl    class
   <int> <chr> <chr>
 1    29 p     compact
 2    29 p     compact
 3    31 p     compact
 4    30 p     compact
 5    26 p     compact
 6    26 p     compact
 7    27 p     compact
 8    26 p     compact
 9    25 p     compact
10    28 p     compact
11    27 p     compact
12    25 p     compact
13    25 p     compact
14    25 p     compact
15    25 p     compact
16    24 p     midsize
17    25 p     midsize
18    23 p     midsize
19    20 r     suv
20    15 e     suv
# … with 214 more rows

In [9]:
options(tibble.print_min = 20, tibble.print_max = 20, tibble.width = Inf)

In [10]:
print(mpg)

# A tibble: 234 x 11
   manufacturer model              displ  year   cyl trans      drv     cty
   <chr>        <chr>              <dbl> <int> <int> <chr>      <chr> <int>
 1 audi         a4                   1.8  1999     4 auto(l5)   f        18
 2 audi         a4                   1.8  1999     4 manual(m5) f        21
 3 audi         a4                   2    2008     4 manual(m6) f        20
 4 audi         a4                   2    2008     4 auto(av)   f        21
 5 audi         a4                   2.8  1999     6 auto(l5)   f        16
 6 audi         a4                   2.8  1999     6 manual(m5) f        18
 7 audi         a4                   3.1  2008     6 auto(av)   f        18
 8 audi         a4 quattro           1.8  1999     4 manual(m5) 4        18
 9 audi         a4 quattro           1.8  1999     4 auto(l5)   4        16
10 audi         a4 quattro           2    2008     4 manual(m6) 4        20
11 audi         a4 quattro           2    2008     4 auto(s6)   4        19
12 audi         a4 quattro           2.8  1999     6 auto(l5)   4        15
13 audi         a4 quattro           2.8  1999     6 manual(m5) 4        17
14 audi         a4 quattro           3.1  2008     6 auto(s6)   4        17
15 audi         a4 quattro           3.1  2008     6 manual(m6) 4        15
16 audi         a6 quattro           2.8  1999     6 auto(l5)   4        15
17 audi         a6 quattro           3.1  2008     6 auto(s6)   4        17
18 audi         a6 quattro           4.2  2008     8 auto(s6)   4        16
19 chevrolet    c1500 suburban 2wd   5.3  2008     8 auto(l4)   r        14
20 chevrolet    c1500 suburban 2wd   5.3  2008     8 auto(l4)   r        11
     hwy fl    class
   <int> <chr> <chr>
 1    29 p     compact
 2    29 p     compact
 3    31 p     compact
 4    30 p     compact
 5    26 p     compact
 6    26 p     compact
 7    27 p     compact
 8    26 p     compact
 9    25 p     compact
10    28 p     compact
11    27 p     compact
12    25 p     compact
13    25 p     compact
14    25 p     compact
15    25 p     compact
16    24 p     midsize
17    25 p     midsize
18    23 p     midsize
19    20 r     suv
20    15 e     suv
# … with 214 more rows

In [11]:
df <- tibble(
    x = runif(10),
    y = rnorm(10)
)

In [12]:
df$x # extracts a variable, name only

 [1] 0.3262972 0.5929080 0.7463769 0.1074504 0.3902100 0.5792087 0.9158409
 [8] 0.1007105 0.9470514 0.3122853

In [13]:
df[['x']] # double brackets can extract variables using names

 [1] 0.3262972 0.5929080 0.7463769 0.1074504 0.3902100 0.5792087 0.9158409
 [8] 0.1007105 0.9470514 0.3122853

In [14]:
df[[1]] # or using positions

 [1] 0.3262972 0.5929080 0.7463769 0.1074504 0.3902100 0.5792087 0.9158409
 [8] 0.1007105 0.9470514 0.3122853

To use `$` or `[[` in a pipe, have to use special placeholder: `.`

In [15]:
df %>% .$x

 [1] 0.3262972 0.5929080 0.7463769 0.1074504 0.3902100 0.5792087 0.9158409
 [8] 0.1007105 0.9470514 0.3122853

In [16]:
df %>% .[[1]]

 [1] 0.3262972 0.5929080 0.7463769 0.1074504 0.3902100 0.5792087 0.9158409
 [8] 0.1007105 0.9470514 0.3122853

In [17]:
var_name = "x" # store variable name in a variable

In [18]:
df$var_name # doesn't work

Warning message:
“Unknown or uninitialised column: 'var_name'.”

NULL

In [19]:
df[[var_name]]

 [1] 0.3262972 0.5929080 0.7463769 0.1074504 0.3902100 0.5792087 0.9158409
 [8] 0.1007105 0.9470514 0.3122853

We can use backticks to create variable names that are not valid R variable names. E.g., numbers

In [20]:
(cubes <- tibble(
    `1` = 1:10,
    `2` = `1`^2,
    `3` = `1`^3
))

   1  2   3
1   1   1    1
2   2   4    8
3   3   9   27
4   4  16   64
5   5  25  125
6   6  36  216
7   7  49  343
8   8  64  512
9   9  81  729
10 10 100 1000

In [21]:
rename(cubes, x = `1`, squares = `2`, cubes = `3`)

   x  squares cubes
1   1   1        1
2   2   4        8
3   3   9       27
4   4  16       64
5   5  25      125
6   6  36      216
7   7  49      343
8   8  64      512
9   9  81      729
10 10 100     1000

# Data import

We will focus on the `read_csv()` function but there are other ones available:

* `read_csv2()`: uses semicolon as delimiter
* `read_tsv()`: uses tab as delimiter
* `read_delim()`: can use any delimiter
* `read_fwf()`: to read fix width files
* `read_table()`: to read fixed wdith files where columns are separated by white space

In [22]:
(heights <- read_csv("https://raw.githubusercontent.com/ambujtewari/stats306-fall2017/master/data/heights.csv"))

Parsed with column specification:
cols(
  earn = col_double(),
  height = col_double(),
  sex = col_character(),
  ed = col_double(),
  age = col_double(),
  race = col_character()
)

     earn   height   sex    ed age race
1    50000  74.42444 male   16 45  white
2    60000  65.53754 female 16 58  white
3    30000  63.62920 female 16 29  white
4    50000  63.10856 female 16 91  other
5    51000  63.40248 female 17 39  white
6     9000  64.39951 female 15 26  white
7    29000  61.65633 female 12 49  white
8    32000  72.69854 male   17 46  white
9     2000  72.03947 male   15 21  hispanic
10   27000  72.23493 male   12 26  white
11    6530  69.51215 male   16 65  white
12   30000  68.03161 male   11 34  white
13   12000  67.55693 male   12 27  white
14   12000  65.43059 female 12 51  white
15   22000  65.66285 female 16 35  white
16   17000  67.75877 male   12 58  white
17   40000  68.35184 female 14 29  white
18   44000  69.60957 male   13 44  white
19    7000  64.18457 female 12 55  black
20   53000  73.07461 male   13 35  black
21    5000  62.37553 female 13 51  white
22   14000  63.02393 female 14 21  white
23    5500  67.22990 male   14 22  white
24   40000  65.55111 female 12 41  white
25   34000  72.07965 male   12 45  white
26   10000  63.09113 female 12 35  black
27   27000  64.32355 female 16 60  white
28   50000  71.64285 male   16 38  white
29   41000  76.79309 male   16 33  white
30   15000  63.89391 female 14 25  white
⋮    ⋮      ⋮        ⋮      ⋮  ⋮   ⋮
1163  20000 66.01494 female 14 43  white
1164  40000 65.76547 female 16 59  white
1165  10000 66.74771 male   12 77  white
1166  16000 66.14089 male   12 37  white
1167  11000 63.30037 female  9 51  white
1168  16000 67.61928 female 13 43  white
1169  18000 70.42987 male   12 27  white
1170  12000 62.62478 female 16 26  white
1171   4000 69.98806 male   14 21  black
1172  60000 71.81932 male   12 45  white
1173  43000 74.77192 male   17 40  white
1174  31000 61.96560 female 14 39  white
1175  50000 68.21042 female 17 39  white
1176  27000 68.04935 female 14 29  white
1177  30000 70.49075 male   17 56  white
1178  12000 73.38321 male   13 21  black
1179  20000 62.13713 female 17 30  white
1180  15000 59.77629 female 12 76  black
1181  25000 64.15965 female 16 37  other
1182   2000 60.19710 female  6 67  hispanic
1183   3000 73.26521 male   15 20  hispanic
1184 110000 66.31204 female 18 48  other
1185  55000 68.99589 male   18 71  white
1186  58000 70.34337 male   18 53  white
1187  10000 70.05628 female 16 36  white
1188  19000 72.16573 male   12 29  white
1189  15000 61.13580 female 18 82  white
1190   8000 63.66416 female 12 33  white
1191  60000 71.92584 male   12 50  white
1192   6000 68.36849 male   12 27  white

To create short examples illustrating read_csv's behavior, we can specify the contents of a csv file inline.

In [23]:
read_csv("a, b, c
1, 2, 3
4, 5, 6
")

  a b c
1 1 2 3
2 4 5 6

You might want to skip a few rows in the beginning that have metadata.

In [24]:
read_csv("First row to skip
Second row to skip
Third row to skip
a, b, c
1, 2, 3
4, 5, 6
", skip = 3)

  a b c
1 1 2 3
2 4 5 6

You can also skip comments line by specifying a comment character.

In [25]:
read_csv("# First comment line
a, b, c
# This separate the header from the data
1, 2, 3
4, 5, 6
# Another comment line
", comment = '#')

  a b c
1 1 2 3
2 4 5 6

Set `col_names = FALSE` when you don't have column names in the file. The column names are then set to X1, X2, ...

In [26]:
read_csv("1, 2, 3
4, 5, 6
", col_names = FALSE)

  X1 X2 X3
1 1  2  3
2 4  5  6

You can specify your own column names.

In [27]:
read_csv("1, 2, 3
4, 5, 6
", col_names = c("a", "b", "c"))

  a b c
1 1 2 3
2 4 5 6

You can specify how missing values are represented in the file.

In [28]:
read_csv("a, b, c
1, 2, 3
4, ?, 6
", na = "?")

  a b  c
1 1  2 3
2 4 NA 6

You can write a tibble to a csv file using `write_csv()`.

In [29]:
write_csv(cubes, "cubes.csv")

In [30]:
cubes2 <- read_csv("cubes.csv")

Parsed with column specification:
cols(
  `1` = col_double(),
  `2` = col_double(),
  `3` = col_double()
)

In [31]:
cubes2

   1  2   3
1   1   1    1
2   2   4    8
3   3   9   27
4   4  16   64
5   5  25  125
6   6  36  216
7   7  49  343
8   8  64  512
9   9  81  729
10 10 100 1000

In [32]:
file.remove("cubes.csv")

[1] TRUE