## STATS 306 WI 2021, HW 6, _20 points_

Assigned: 04/07/2021

Due: 04/14/2021  
For full credit, your canvas upload needs to occur by 3:00 am EST on 04/15/2021.

### Instructions

* Before you submit the problem set, make sure everything runs as expected. Go to the menu bar at the top of Jupyter Notebook and click `Kernel > Restart & Run All` . Equivalently in Colab, `Runtime > Restart & Run All`. Your code should run from top to bottom with no errors. Failure to do this will result in loss of points.

* Each problem has their own answer cell. Depending on the problem, the answer cell is a Markdown cell (to type text answers) or a Code cell (to type R code). Please write your answer in the designated cell. If you want to add addtional cells make sure to add them just below the designated cell.

* After you done with running your code, use `Ctrl` or `âŒ˜` + `p` then click `save as pdf` to save your homework as pdf file. Do not use pdf exporter feature of jupyter! You are not going to upload your `.ipynb` file, we just need the `.pdf`. It is your responsibility to ensure that your answers are clearly visible in the pdf file you upload to Canvas.

* Use Slack `#hw6` channel to discuss the problems and ask for clarifications. **But please be careful not to post an answer or part of an answer**. Doing so may result in loss of points and/or disqualification from submitting the homework.

* **Late submissions will not be accepted** (unless there is a documented emergency).

### Required Packages

In [ ]:
library(tidyverse)
library(nycflights13)
library(modelr)

### Problem 0, _1 point_

**(1)** Fill out the online teaching evaluation form for STATS 306 on the Canvas website. These evaluations are anonymous and I do not get access to them until I have already submitted course grades. I do get to see how many students have submitted the evaluation form. This single point will be awarded to everyone, or to no one, depending on whether I receive evaluations from at least 90% of the students enrolled in the course. _1 point_

### Problem 1, _4 points_

**(1)** According to Wikipedia: "Every year that is exactly divisible by four is a leap year, except for years that are exactly divisible by 100, but these centurial years are leap years if they are exactly divisible by 400. For example, the years 1700, 1800, and 1900 were not leap years, but the years 1600 and 2000 were".

Write a function `is_leap_year` that takes as input `x`, a numeric vector, and returns a logical vector with `TRUE` in places that correspond to leap years. If the input vector is not numeric, your function should return `NULL`. _3 points_

```
> is_leap_year(1996)
[1] TRUE
> is_leap_year(2000)
[1] TRUE
> is_leap_year(1900)
[1] FALSE
> is_leap_year(1700)
[1] FALSE
> is_leap_year("test")
NULL
> is_leap_year(c(1700, 1800, 1900, 2000, 2100))
[1] FALSE FALSE FALSE  TRUE FALSE
> is_leap_year(c("A", "B", "C"))
NULL
```

In [ ]:
# SOLUTION CELL
# solutions using loops instead of vector operations are also acceptable

In [ ]:
# DO NOT EDIT THIS CELL
is_leap_year(1996)
is_leap_year(2000)
is_leap_year(1900)
is_leap_year(1700)
is_leap_year("test")
is_leap_year(c(1700, 1800, 1900, 2000, 2100))
is_leap_year(c("A", "B", "C"))

**(2)** Using the function `is_leap_year`, define a function `num_leap_years` that returns the number of leap years in the input vector. _2 points_

```
> num_leap_years(1990:2010)
[1] 5
> num_leap_years(1890:1910)
[1] 4
```

In [ ]:
# SOLUTION CELL

In [ ]:
# DO NOT EDIT THIS CELL
num_leap_years(1990:2010)
num_leap_years(1890:1910)

### Problem 2, _5 points_

**(1)** Bob creates a tibble `bob_tbl` and tells Alice that it prints as follows:
```
> print(bob_tbl)
# A tibble: 3 x 2
  name      age
  <chr>   <dbl>
1 Alice      22
2 Bob        23
3 Charlie    NA
```
Alice tries to create an exact copy of `bob_tbl` and types the following code

In [ ]:
alice_tbl <- tibble(
    name = c("Alice", "Bob", "Charlie"),
    age = c(22, 23, "NA")
)

To her surprise, her command does not create a tibble identical to Bob's:
```
> print(alice_tbl)
# A tibble: 3 x 2
  name    age  
  <chr>   <chr>
1 Alice   22   
2 Bob     23   
3 Charlie NA  
```

What is the difference between the two tibbles? _1 point_

#### Text Solution Cell

**(2)** What caused this difference? _2 points_

#### Text solution cell

**(3)** Define `alice_tbl` correctly below to that it becomes identical to `bob_tbl`. _1 point_

In [ ]:
# SOLUTION CELL

In [ ]:
# DO NOT EDIT THIS CELL
print(alice_tbl)

**(4)** Using the right dplyr verb, convert the `age` column of `alice_tbl` to type integer and assign the result to the variable `alice_tbl2`. _1 point_

In [ ]:
# SOLUTION CELL

In [ ]:
# DO NOT EDIT THIS CELL
print(alice_tbl2)

### Problem 3, _5 points_

**(1)** Write a function `type_of_columns` that takes a tibble as an input and outputs a character vector containing the types of all columns of the input tibble. Please use `typeof()` to get the types of columns. _3 points_

In [ ]:
# SOLUTION CELL

In [ ]:
# DO NOT EDIT THIS CELL
type_of_columns(mpg)
type_of_columns(diamonds)

For your reference, the correct answers for the two test cases above are shown below:
```
> print(type_of_columns(mpg))
 [1] "character" "character" "double"    "integer"   "integer"   "character" "character" "integer"   "integer"   "character" "character"
> print(type_of_columns(diamonds))
 [1] "double"  "integer" "integer" "integer" "double"  "double"  "integer" "double"  "double"  "double"
```
Please note that `typeof()` returns `"integer"` for factors too.

**(2)** Use loops to print the nursery rhyme "Hickory dickory dock". Only use the variables we have defined for you already. Do not create any new string variables in your solution. Please use `writeLines()` for proper formatting. Note that individial lines do not have any spaces at the front. Pay attention to punctuation marks like commas and periods. Spacing between the lines of a stanza is one line and that between stanzas is three lines. Also note that there is no spacing before the first stanza and after the last one. This is how the nursery rhyme should appear in your result: _2 points_

```
Hickory dickory dock,

The mouse ran up the clock,

The clock struck one

The mouse ran down

Hickory dickory dock.




Hickory dickory dock,

The mouse ran up the clock,

The clock struck two

The mouse turned blue

Hickory dickory dock.




Hickory dickory dock,

The mouse ran up the clock,

The clock struck three

He drank his tea

Hickory dickory dock.




Hickory dickory dock,

The mouse ran up the clock,

The clock struck four

Look at him snore

Hickory dickory dock.




Hickory dickory dock,

The mouse ran up the clock,

The clock struck five

He went to hide

Hickory dickory dock.




Hickory dickory dock,

The mouse ran up the clock,

The clock struck six

He licked his lips

Hickory dickory dock.
```

In [ ]:
# USE ONLY THE FOLLOWING VARIABLES IN YOUR SOLUTION
hickory <- "Hickory dickory dock"
mouse <- "The mouse ran up the clock"
clock <- "The clock struck "
number_names <- c("one", "two", "three", "four", "five", "six")
line4_options <- c(
    "The mouse ran down",
    "The mouse turned blue",
    "He drank his tea",
    "Look at him snore",
    "He went to hide",
    "He licked his lips"
)

In [ ]:
# SOLUTION CELL

### Problem 4, _5 points_

**(1)** We will repeat the model fitting and model visualization exercise from Lecture 21 but with quadratic models instead of linear ones. In a linear model, we need just two coefficients: intercept `a1` and slope `a2`. But now we will need three: intercept `a1`, linear coefficient `a2`, and quadratic coefficient `a3`. We have defined the tibble `models` below just as in Lecture 21 notebook except that now it also has an `a3` column. Another difference is that our model parameters are now not chosen randomly but are based on a fixed grid.

In [ ]:
# DO NOT EDIT THIS CELL
models <- expand_grid(
    a1=seq(-20,40,length=20),
    a2=seq(-5,5,length=20),
    a3=seq(-1,1,length=20)
)

Redefine the `model_prediction` function so that it now works properly with quadratic models where the `model` argument will be a vector of length 3 consisting of intercept, linear coefficient, and quadratic coefficient. _1 point_

In [ ]:
# SOLUTION CELL

**(2)** Redefine the `measure_distance` function so that it computed [mean absolute error](https://en.wikipedia.org/wiki/Mean_absolute_error) (MAE) instead of root mean squared error (RMSE). _1 point_

In [ ]:
# SOLUTION CELL

**(3)** Redefine the function `sim1_dist` so that it now takes three model parameters as input instead of two. _1 point_

In [ ]:
# SOLUTION CELL

**(4)** Use the function `sim1_dist` to add a column `dist` to `models`. In the linear model case, we used `map2_dbl`. Now you will have to use `pmap_dbl` that can apply a function with more than two arguments to each row of a tibble. _1 point_

In [ ]:
# SOLUTION CELL

Let us now compute the best model and store the three parameters of the best models in the variables `best_a1`, `best_a2` and `best_a3`

In [ ]:
# DO NOT EDIT THIS CELL
best_a1 <- top_n(models, 1, -dist)[[1]]
best_a2 <- top_n(models, 1, -dist)[[2]]
best_a3 <- top_n(models, 1, -dist)[[3]]
print(best_a1)
print(best_a2)
print(best_a3)

**(5)** Superimpose the fitted model on the scatterplot of the data. Since `geom_abline()` cannot plot a quadratic model, use
`stat_function()` instead. Here is the documentation for
stat_function for your reference:
https://ggplot2.tidyverse.org/reference/geom_function.html
The points should appear in blue and the superimposed fitted model should be in red. _1 point_

In [ ]:
# SOLUTION CELL