# STATS 306, Winter 2021
## Take-home Final Exam

Assigned: April 21, 2021  
Due: April 28, 2021 (canvas will accept uploads until 3 am EDT on April 29)

There are a total of **eight problems** for a total of **40 points**. Each problem is worth **5 points**.

**PLEASE READ EXAM INSTRUCTIONS** (available [here](https://github.com/ambujtewari/stats306-winter2021/blob/main/final/README.md)) before proceeding further.

Links to jump directly to problems:

- [Problem 1](#Problem-1): Greenhouse Gases
- [Problem 2](#Problem-2): Stars
- [Problem 3](#Problem-3): Trump Tweets
- [Problem 4](#Problem-4): Movies
- [Problem 5](#Problem-5): Test Scores
- [Problem 6](#Problem-6): Contagious Diseases
- [Problem 7](#Problem-7): Heights I
- [Problem 8](#Problem-8): Heights II

### Required Packages

In [ ]:
library(tidyverse)
library(lubridate)

In [ ]:
# DO NOT EDIT THIS CELL
data_prefix = "https://raw.githubusercontent.com/ambujtewari/stats306-winter2021/main/data/"

### Statement of Academic Integrity

**(1)**  

_"I have read the exam instructions. All work submitted is my own. If I used any resources, physical, digital, or otherwise, I have listed them below. I have fully complied with all standards of academic integrity."_  

Type your full name below in lieu of a physical signature.

#### Text solution cell 0.1

replace this line with your full name

**(2)** List any resources you used that are not mentioned in the exam instructions

#### Text solution cell 0.2

Type "NA" if you didn't use any resources other than the ones listed in the exam instructions. Otherwise, list all additional resources you used to solve this exam.

### Problem 1

#### Greenhouse Gases, _5 points_

Concentrations of the three main greenhouse gases: carbon dioxide, methane and nitrous oxide (measurements are from  Antarctica). Selected measurements are provided every 20 years from 1-2000 CE.

- `year` Year (CE).
- `gas` Gas being measured: carbon dioxide (‘CO2‘), methane (‘CH4‘) or nitrous oxide (‘N2O‘).
- `concentration` Gas concentration in ppm by volume (‘CO2‘) or ppb by volume (‘CH4‘,
‘N2O‘).

In [ ]:
# DO NOT EDIT THIS CELL

gh_gases <- read_csv(str_c(data_prefix, "gh_gases.csv"), col_types="dcd")
head(gh_gases)

**(1)** Create a line plot with `year` on x-axis, `concentration` on y-axis and `gas` in different colors. _1 point_

In [ ]:
# SOLUTION CELL 1.1

**(2)** We will use the `fullrange` argument of `geom_smooth` plus larger x-axis limits to extrapolate the linear model predictions into the future. For years greater than 1900 (inclusive), create a scatter plot with `year` on x-axis, `concentration` on y-axis with different colors for the three greenhouse gases. Superimpose a linear fit on this plot using `geom_smooth` (turn standard errors off). Make sure to set the x-axis limits from 1900 to 2050 using `xlim()`. Also make sure to use the `fullrange` argument of `geom_smooth` to extend the fitted line to the year 2050. _2 points_

In [ ]:
# SOLUTION CELL 1.2

**(3)** Make the same plot as problem 1.1 above with one important difference: we now want `century` on the x-axis instead of `year`. Since `century` is not given to you directly you will have to create that column. The `century` column should be integer valued and it will take values from 1 through 20. Be careful to handle edge cases properly. E.g., the 19th century includes years from 1801 through 1900 (inclusive). The concentration value plotted for a greenhouse gas during a given century must be the mean concentration of that gas during that century. The three gases should still be plotted in three different colors in your line plot. _2 points_

In [ ]:
# SOLUTION CELL 1.3

### Problem 2

#### Stars, _5 points_

Physical properties of selected stars, including luminosity, temperature, and spectral class.

- `star` Name of star.
- `magnitude` Absolute magnitude of the star, which is a function of the star’s luminosity and
distance to the star.
- `temp` Surface temperature in degrees Kelvin (K).
- `type` Spectral class of star in the OBAFGKM system.

In [ ]:
# DO NOT EDIT THIS CELL

stars <- readRDS(url(str_c(data_prefix, "stars.rds")))
head(stars)

**(1)** Convert the type of column `star` to character and assign the resulting tibble back to the variable `stars`. _1 point_

In [ ]:
# SOLUTION CELL 2.1

**(2)** Create a scatter plot with `magnitude` on the x-axis and `temp` on the y-axis with stars of different types in different colors. Superimpose a single smooth curve on your scatterplot to visualize the relationship between `magnitude` and `temperature`. Keep standard errors visible. _1 point_

In [ ]:
# SOLUTION CELL 2.2

**(3)** Perform the following steps, in order, using pipes:

- Keep only those rows where the name of the star begins with `*`.
- Create a new column `new_star` with the `*` at the beginning of the star's name removed.

To get full credit, please make sure that the resulting tibble is fully visible. _2 points_

In [ ]:
# SOLUTION CELL 2.3

**(4)** Make the plot shown [here](https://github.com/ambujtewari/stats306-winter2021/raw/main/final/plots/plot_2-4.jpeg). Don't worry about matching the size and proportions of the example plot. Please make sure to turn off any legend that might appear using the `show.legend` argument. _1 point_

In [ ]:
# SOLUTION CELL 2.4

### Problem 3

#### Trump Tweets, _5 points_

All tweets from Donald Trump’s twitter account from 2009 to 2017 (including tweets from January 1, 2018).

- `source` Device or service used to compose tweet.
- `id_str` Tweet ID.
- `text` Tweet.
- `created_at` Data and time tweet was tweeted.
- `retweet_count` How many times tweet had been retweeted at time dataset was created.
- `in_reply_to_user_id_str` If a reply, the user id of person being replied to.
- `favorite_count` Number of times tweet had been favored at time dataset was created.
- `is_retweet` A logical telling us if it is a retweet or not.

In [ ]:
# DO NOT EDIT THIS CELL

trump_tweets <- read_csv(str_c(data_prefix, "trump_tweets.csv"), col_types = "cccTicil")
head(trump_tweets)

**(1)** Create a bar chart with `source` on the y-axis and their counts on the x-axis. Make sure your bars in the bar chart are filled with the color named `"deepskyblue"`. _1 point_

In [ ]:
# SOLUTION CELL 3.1

**(2)** Make a note of the top three sources in the bar plot above. Now execute the following steps, in order, using pipes:

- Create a new column `year` by extracting the year from `created-at` (the function `lubridate::year()` extracts years).
- Keep only those tweets that came from the top three sources. You don't have to necessarily store the names of the top three sources in a vector. You can just inspect the bar plot above and type them into your command directly.
- Create a bar chart with `year` on the x-axis and their counts on the y-axis. The bars should be filled by colors corresponding to `source` (you should only see three different colors as we restricted ourselved to only top three sources in this problem).

_2 points_

In [ ]:
# SOLUTION CELL 3.2

**(3)** Create a new tibble named `golf_summary` that will have two columns: `year` and `mentions_golf`. The `year` column will have years from 2009 through 2018 (inclusive). The `mentions_golf` column should be the count of tweets in a given year that mention `"golf"` (or the capitalized version `"Golf"`) anywhere in the tweet. _1 point_

In [ ]:
# SOLUTION CELL 3.3

In [ ]:
# DO NOT EDIT THIS CELL

print(golf_summary)

**(4)** Use the `golf_summary` tibble created above to make a bar chart with `year` on the x-axis, `mentions_golf` on the y-axis. Make sure the bars are filled with the color named `"limegreen"`. _1 point_

In [ ]:
# SOLUTION CELL 3.4

### Problem 4

#### Movies, _5 points_

A data set from the MovieLens recommender system.

- `movieId` Unique ID for the movie.
- `title` Movie title (not unique).
- `year` Year the movie was released.
- `genres` Genres associated with the movie.
- `userId` Unique ID for the user.
- `rating` A rating between 0 and 5 for the movie.
- `timestamp` Date and time the rating was given (in seconds since midnight Coordinated Universal Time (UTC) of January 1, 1970).

In [ ]:
# DO NOT EDIT THIS CELL

movielens <- read_csv(str_c(data_prefix, "movielens.csv"), col_types = "icicidi")
head(movielens)

Be very careful **not** to use the movie title to uniquely identify movies in this problem. The title *does not* pin the movie down uniquely. For example, the movie with title `"Alice in Wonderland"` has been made several times over the years.

In [ ]:
# DO NOT EDIT THIS CELL

movielens %>%
    filter(title == "Alice in Wonderland") %>%
    .[['year']] %>%
    unique()

**(1)** Use a single piped command to output a tibble that has all movies with at least 100 ratings and a mean rating of at least 4.2 sorted in descending order by mean rating. This tibble should have 4 columns:

- `movieId` Unique ID for the movie.
- `title` Same title can have multiple IDs but there is going to be a unique title for a given ID.
- `mean_rating` mean rating for the movie.
- `num_ratings` the number of ratings for this movie in the data set.

_1 point_

In [ ]:
# SOLUTION CELL 4.1

**(2)** Note that the `genres` column of `movielens` has genres separated by vertical bars. For example, `"Drama|War"` means that the movie belongs to Drama and War genres. Write a function `get_single_genres` such that when it is given a character vector with genres as input, it outputs a longer character vector where each genre has been separated out and one entry of the vector just has a single genre. The order in which the genres appear in the input should be preserved. Two test cases for your function are given below. _1 point_

```
> print(get_single_genres(c("Drama",
                    "Animation|Children|Drama|Musical",
                    "Thriller",
                    "Action|Adventure|Sci-Fi|Thriller",
                    "Drama")))
[1] "Drama"     "Animation" "Children"  "Drama"     "Musical"   "Thriller" 
[7] "Action"    "Adventure" "Sci-Fi"    "Thriller"  "Drama"

> print(get_single_genres(c("Drama|War",
                          "Action|Adventure|Drama",
                          "Drama",
                          "Fantasy|Horror|Romance|Thriller",
                          "Thriller")))
[1] "Drama"     "War"       "Action"    "Adventure" "Drama"     "Drama"    
[7] "Fantasy"   "Horror"    "Romance"   "Thriller"  "Thriller" 
```

In [ ]:
# SOLUTION CELL 4.2

In [ ]:
# DO NOT EDIT THIS CELL

print(get_single_genres(c("Drama",
                    "Animation|Children|Drama|Musical",
                    "Thriller",
                    "Action|Adventure|Sci-Fi|Thriller",
                    "Drama")))

In [ ]:
# DO NOT EDIT THIS CELL

print(get_single_genres(c("Drama|War",
                          "Action|Adventure|Drama",
                          "Drama",
                          "Fantasy|Horror|Romance|Thriller",
                          "Thriller")))

**(3)** Create a vector `all_genres` by calling the function `get_single_genres` on the `genres` column of the `movielens` tibble. _1 point_

In [ ]:
# SOLUTION CELL 4.3

In [ ]:
# DO NOT EDIT THIS CELL

length(all_genres) # should print 265517

**(4)** Create a tibble `genre_tbl` that has a single column named `genre`. This column should be identical to the character vector `all_genres` you created above. _1 point_

In [ ]:
# SOLUTION CELL 4.4

In [ ]:
# DO NOT EDIT THIS CELL

head(genre_tbl) # print first few rows of genre_tbl
nrow(genre_tbl) # should print 265517

**(5)** Use the `genre_tbl` tibble to output a tibble with ten rows and two columns named `genre` and `count`. The `genre` column should be the top 10 most frequent genres in `genre_tbl` sorted in descending order of their frequencies. The `count` column should be the count of how frequently the genre appears in `genre_tbl`. _1 point_

In [ ]:
# SOLUTION CELL 4.5

### Problem 5

#### Test Scores, _5 points_

Distribution of scores for algebra, global history, biology, English, and U.S. history exams.

- `score` Test score from 0 to 100.
- `integrated_algebra` Score frequency on Algebra exam.
- `global_history` Score frequency on global history exam.
- `living_environment` Score frequency on biology exam.
- `english` Score frequency on English exam.
- `us_history` Score frequency on U.S. history exam.

In [ ]:
# DO NOT EDIT THIS CELL

scores <- read_csv(str_c(data_prefix, "scores.csv"), col_types="iiiiii")
head(scores)

**(1)** Using the appropriate pivoting function, create a tibble `pivoted_scores` that should have three columns: `score`, `subject` and `frequency`. The values appearing in `subject` columns should be `"integrated_algebra"`, `"global_history"`, `"living_environment"`, `"english"`, and `"us_history"`. For the `score` and `subject` in a given row, the corresponding entry in `frequency` column should be the frequency of that score in the subject. _1 point_

In [ ]:
# SOLUTION CELL 5.1

In [ ]:
# DO NOT EDIT THIS CELL

head(pivoted_scores)

**(2)** Using the `ifelse()` function (and not using any loops), change the `frequency` column of `pivoted_scores` so that all missing values in that column are converted to 0. Assign the resulting tibble to the variable `no_na_frequency`. _1 point_

In [ ]:
# SOLUTION CELL 5.2

In [ ]:
# DO NOT EDIT THIS CELL

head(no_na_frequency)

**(3)** Starting with the tibble `no_na_frequency` you created above and using a single piped command, execute the following steps in order:

- Keep only those rows where `score` is not missing.
- Create a tibble with just two columns: `score` and `overall_frequency` where the latter is the sum of the frequencies of a given score across all subjects.
- Create a bar chart as shown [here](https://github.com/ambujtewari/stats306-winter2021/raw/main/final/plots/plot_5-3.jpeg). Note that the bars should be filled with the color named `"tan3"`. Don't worry about matching the size and proportions of the example plot.
- The minimum passing score for these exams is 65. You will notice a spike right at the minimum passing score. Make sure to add the command `geom_vline(xintercept = 65, linetype = "dashed")` at the end of your code to clearly see the location of the minimum passing score.

_3 points_

In [ ]:
# SOLUTION CELL 5.3

### Problem 6

#### Contagious Diseases, _5 points_

Yearly counts for Hepatitis A, Measles, Mumps, Pertussis, Polio, Rubella, and Smallpox for US
states.

- `disease` Disease name as a string.
- `state` US state name as a string.
- `year`
- `weeks_reporting` Number of weeks counts were reported that year.
- `count` Total number of reported cases.
- `population` State population, interpolated for non-census years.

In [ ]:
# DO NOT EDIT THIS CELL

diseases <- read_csv(str_c(data_prefix, "diseases.csv"), col_types="cciiii")
head(diseases)

**(1)** Write a function named `top_few` that takes a single argument `n` as input and does the following:

- First, it creates a vector `top` that has the top `n` states by the highest mean population over the years (ignore missing values in the mean population computation).
- Second, it shows line plots of the different disease counts over the years with diseases in different colors. You should only consider states in the `top` vector. Each state in `top` should get its own separate plot.

Examples of expected output are shown [here](https://github.com/ambujtewari/stats306-winter2021/raw/main/final/plots/plot_6-1-1.jpeg) (for `top_few(4)`) and [here](https://github.com/ambujtewari/stats306-winter2021/raw/main/final/plots/plot_6-1-2.jpeg) (for `top_few(9)`). Don't worry about matching the size and proportions of the example plots.

_3 points_

In [ ]:
# SOLUTION CELL 6.1

In [ ]:
# DO NOT EDIT THIS CELL

top_few(4)

In [ ]:
# DO NOT EDIT THIS CELL

top_few(9)

**(2)** Use the `diseases` tibble to create the plot shown [here](https://github.com/ambujtewari/stats306-winter2021/raw/main/final/plots/plot_6-2.jpeg). The y-axis in this plot shows `mean_weeks_reporting` which is the mean value (computed with missing values ignored) of `weeks_reporting` over all states for a given disease in a given year. The opacity of the smooth curves should be normal but the points should be plotted with a opacity value of `0.25`. _2 points_

In [ ]:
# SOLUTION CELL 6.2

### Problem 7

#### Heights I, _5 points_

Students were asked to report their height (in inches) and sex in an online form.

- `time_stamp` Time and date of the entry.
- `sex` Sex of the student.
- `height` Height as reported by student by filling in a text free box.

Note that students were _asked_ to report their heights in inches but not all of them followed that instruction.

In [ ]:
# DO NOT EDIT THIS CELL

heights <- read_csv(str_c(data_prefix, "heights.csv"), col_types = "Tcc")
head(heights)

**(1)** After reading the csv file, the `height` column in `heights` is of type character. Add a new column `new_heights` which is the `height` column converted to type double. Assign this new tibble to the variable `heights`. _1 point_

In [ ]:
# SOLUTION CELL 7.1

You will see a warning saying that NAs were introduced by coercion. That's OK. The issue is that not all values in `heights` are convertible to type double. Let us look at some of them.

In [ ]:
# DO NOT EDIT THIS CELL

heights %>%
    filter(is.na(new_height)) %>%
    head()

**(2)** First, store all rows of `heights` that don't have `new_height` missing in a variable called `heights_noprob`. Next, using `heights_noprob` create a histogram of `new_height` with a `binwidth` of 200 and fill color `"mediumpurple1"`. _1 point_

In [ ]:
# SOLUTION CELL 7.2

You should notice many outliers in the histogram above. Even if people are reporting their heights in centimeters, we should not expect to see values above, say, 214 (7 feet is 213.36 cm).

**(3)** Let us zoom into some of the outliers.

In [ ]:
# DO NOT EDIT THIS CELL

filter(heights_noprob, new_height > 214)

Replot the histogram of `new_height` in `heights_noprob` this time _excluding_ the outliers we found above. Use the same fill color as in the previous histogram but now use a `binwidth` of 10.

_1 point_

In [ ]:
# SOLUTION CELL 7.3

You should see three clear clusters of reported heights. A reasonable conjecture might be that some people reported their height in feet, some in inches, and some in centimeters. Also note that the biggest cluster corresponds to heights reported in inches since that was what the instructions asked students to report.

**(4)** Create a tibble named `height_prob` that should have those rows of `heights` where `new_height` is missing. _1 point_

In [ ]:
# SOLUTION CELL 7.4

In [ ]:
# DO NOT EDIT THIS CELL

head(heights_prob)

**(5)** Create a tibble named `heights_quote` that contains those rows of `heights_prob` where `height` has the height reported in the form `x'y''` or several of its variants like `x'y`, `x'y"` etc. In your solution, separately define a regular expression named `heights_quote_re` that matches only those strings that _entirely consist of_ the following pattern:

- the pattern begins with a single digit
- followed by a single quote `'`
- followed by zero of more occurrences of space (no need to worry about tabs, newlines, etc., just regular space character)
- followed by 0-2 occurences of digits (since the inches parts can be up to 2 digits long)
- followed by an optional decimal part of the inches. The decimal part is a period `.` followed by 1 or 2 digits. 
- followed by an optional ending pattern. The optional ending pattern is either two single quotes `''` or a double quote `"`.

_1 point_

In [ ]:
# SOLUTION CELL 7.5

In [ ]:
# DO NOT EDIT THIS CELL

head(heights_quote)

### Problem 8

#### Heights II, _5 points_

This problem is a continuation of Problem 7.

**(1)** Create a tibble `heights_prob2` that contains those rows of `heights_prob` that do _not_ match the regular expression `heights_quote_re` that you created in problem 7.5 above. _1 point_

In [ ]:
# SOLUTION CELL 8.1

In [ ]:
# DO NOT EDIT THIS CELL

heights_prob2

**(2)** Create a tibble named `heights_feet_inches` that contains those rows of `heights_prob2` where `height` has the height reported in the form `x feet y inches` or several of its variants like `x ft y inches`, `x foot y inches` etc. In your solution, separately define a regular expression named `heights_feet_inches_re` that matches only those strings that _entirely consist of_ the following pattern:

- the pattern begins with zero or more occurrences of any character
- followed by `ft` or `feet` or `foot`
- followed by zero of more occurrences of any character
- followed by `inches`

_1 point_

In [ ]:
# SOLUTION CELL 8.2

In [ ]:
# DO NOT EDIT THIS CELL

head(heights_feet_inches)

**(3)** Create a tibble `heights_prob3` that contains those rows of `heights_prob2` that do _not_ match the regular expression `heights_feet_inches_re` that you created in problem 8.2 above. _1 point_

In [ ]:
# SOLUTION CELL 8.3

In [ ]:
# DO NOT EDIT THIS CELL

heights_prob3

**(4)** At this point, we have a few more reported heights that we can make sense of:

- reported heights in cm. E.g., `165cm` and `170 cm`
- reported heights that use feet and inches implicitly. E.g., `5,3`, `5 .11`, `5 11`
- reported heights that just use inches denoted by `"`. E.g., `69"` 

Define three regular expressions to handle these cases: `heights_cm_re`, `heights_ftin_implicit_re` and `heights_in_re`.

`heights_cm_re` should match only those strings that _entirely consist of_ the following pattern:

- the pattern begins with 2-3 occurrences of digits
- followed by zero or more spaces (no need to worry about tabs, newlines, etc., just regular space character)
- followed by `cm`

`heights_ftin_implicit_re` should match only those strings that _entirely consist of_ the following pattern:

- the pattern begins either `5` or `6`
- followed by zero of more spaces (no need to worry about tabs, newlines, etc., just regular space character)
- optionally followed by comma `,` or period `.`
- followed by zero or more spaces (no need to worry about tabs, newlines, etc., just regular space character)
- followed by one or more digits

`heights_in_re` should match only those strings that _entirely consist of_ the following pattern:

- the pattern begins with exactly 2 digits
- followed by `"`

_1.5 points_

In [ ]:
# SOLUTION CELL 8.4

**(5)** Using the appropriate `dplyr` verb, display only those rows of `heights_prob3` where `height` matches any one of the three regular expressions you created in problem 8.4 above. _0.5 points_

In [ ]:
# SOLUTION CELL 8.5