# STATS 306, Winter 2021
## Take-home Midterm Exam

Assigned: March 8, 2021  
Due: March 11, 2021 (canvas will accept uploads until 3 am EST on March 12)

There are a total of **four problems** for a total of **30 points** (problems are worth similar but not exactly the same number of points)

**PLEASE READ EXAM INSTRUCTIONS** (available [here](https://github.com/ambujtewari/stats306-winter2021/blob/main/midterm/README.md)) before proceeding further.

Links to jump directly to problems:

- [Problem 1](#Problem-1): CO2 emissions
- [Problem 2](#Problem-2): Global population
- [Problem 3](#Problem-3): Happiness score
- [Problem 4](#Problem-4): Reversal paradox

### Required Packages

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.0.6     ✔ dplyr   1.0.4
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

### Statement of Academic Integrity

**(1)**  

_"I have read the exam instructions. All work submitted is my own. If I used any resources, physical, digital, or otherwise, I have listed them below. I have fully complied with all standards of academic integrity."_  

Type your full name below in lieu of a physical signature.

#### Text solution cell 0.1

replace this line with your full name

**(2)** List any resources you used that are not mentioned in the exam instructions

#### Text solution cell 0.2

Type "NA" if you didn't use any resources other than the ones listed in the exam instructions. Otherwise, list all additional resources you used to solve this exam.

### Problem 1

#### CO2 emissions (tonnes per person), _7 points_

In [2]:
# DO NOT EDIT THIS CELL

# read in data and pivot
CO2_df <- read_csv('https://raw.githubusercontent.com/ambujtewari/stats306-winter2021/main/data/co2_emissions_tonnes_per_person.csv')
CO2_df <- pivot_longer(CO2_df, `1800`:`2018`, names_to="year", values_to="emissions")

── Column specification ────────────────────────────────────────────────────────
cols(
  .default = col_double(),
  country = col_character()
)
ℹ Use `spec()` for the full column specifications.

**(1)** Using `CO2_df` as a starting point, create a tibble `missing_emissions` with exactly two columms: `year` and `num_missing`. For each value of `year`, the `num_missing` column should be the number of countries whose CO2 emissions data is missing in `CO2_df`. Please make sure to also display the tibble after you create it. _**2 points**_

In [3]:
# SOLUTION CELL 1.1

**(2)** For which years do we have CO2 emissions data for all countries? First write the code to get the answer and then write the answer in the text cell below. _**2 points**_

In [4]:
# SOLUTION CELL 1.2

#### Text solution cell 1.2

Type your answer here

**(3)** Let us call the years you found out in the previous part "GOOD YEARS". For all GOOD YEARS, using `CO2_df`, create a scatter plot of `emissions` (y-axis) vs `years` (x-axis) for the three countries: `United States`, `China` and `India`. Make sure each country's data gets plotted in a different color. Additionally, superimpose 3 smooth curves on the scatterplot, one smooth curve for each of the three countries. The smooth curves' colors should match the points' colors. _**3 points**_

In [5]:
# SOLUTION CELL 1.3

### Problem 2

#### Global population, _7 points_

In [6]:
# DO NOT EDIT THIS CELL

# read in data and pivot
pop_df <- read_csv('https://raw.githubusercontent.com/ambujtewari/stats306-winter2021/main/data/population_total.csv')
pop_df <- pivot_longer(pop_df, `1800`:`2100`, names_to="year", values_to="population") %>%
    mutate(year = as.integer(year))

── Column specification ────────────────────────────────────────────────────────
cols(
  .default = col_double(),
  country = col_character()
)
ℹ Use `spec()` for the full column specifications.

**(1)** Using `pop_df` as a starting point, create a tibble with two columns: `year` and `total_pop` where the latter should be the sum of the populations of all countries in a given year. Make sure that `total_pop` has the world population in **billions**. Use this tibble to create a scatter plot of `total_pop` (y-axis) vs. `year` (x-axis). For full credit, write a solution using pipes that does not use any intermediate variables. _**3 points**_

In [7]:
# SOLUTION CELL 2.1

**(2)** Let us define a vector with countries that are often refered to as the "Group of Seven".

In [8]:
# DON"T EDIT THIS CELL

G7 = c("Canada", "France", "Germany", "Italy", "Japan", "United Kingdom", "United States")

Use the `G7` variable above to create a bar chart with these countries on the y-axis and populations of these countries in the year 2000 on the x-axis. Make sure each country's bar is colored with a different color. Use a single command with pipes to do this. _**2 points**_

In [9]:
# SOLUTION CELL 2.2

**(3)** Use `geom_line` to plot the populations of the countries in `G7` over time. Make sure `year` is on the x-axis, `population` is on the y-axis and the lines corresponding to different countries are in different colors. _**2 points**_ 

_Note:_ Population figures for future years are based on projections.

In [10]:
# SOLUTION CELL 2.3

### Problem 3

#### Happiness score, _8 points_

In [11]:
# DO NOT EDIT THIS CELL

# read in data
happy_df <- read_csv("https://raw.githubusercontent.com/ambujtewari/stats306-winter2021/main/data/hapiscore_whr.csv")

── Column specification ────────────────────────────────────────────────────────
cols(
  country = col_character(),
  `2005` = col_double(),
  `2006` = col_double(),
  `2007` = col_double(),
  `2008` = col_double(),
  `2009` = col_double(),
  `2010` = col_double(),
  `2011` = col_double(),
  `2012` = col_double(),
  `2013` = col_double(),
  `2014` = col_double(),
  `2015` = col_double(),
  `2016` = col_double(),
  `2017` = col_double(),
  `2018` = col_double(),
  `2019` = col_double()
)

**(1)** The `happy_df` tibble contains national averages of a "happiness score" for various contries for the years 2005 through 2019. The "happiness score" is the response to the question:

"Think of a ladder, with the best possible life for you being a 10, and the worst possible life being a 0. Rate your own life on this 0 to 10 scale."

In the tibble above, these responses on a 0 to 10 scale have been rescaled to the interval \[0,1\].

In the cell below, write a commmand using pipes to performance the following sequence of operations in the order specified using `happy_df` as a starting point: _**5 points**_

1. keep only the columns corresponding to the years 2018 and 2019
2. keep only those countries for which both 2018 and 2019 data is available
3. create two new columns: `rank_2018` and `rank_2019`. These should be ranks of the country in the years 2018 and 2019 respectively. Use the `rank` function in R (don't worry about tie-breaking options, just use the default) and make sure that counties with *higher* average happiness scores get *smaller* numerical ranks.
4. drop the columns corresponding to the years 2018 and 2019 leaving just three columns: `country`, `rank_2018` and `rank_2019`
5. keep only those countries that had a rank of 10 or better in _both_ 2018 and 2019

Finland is often called the happiest country on earth. In your final result, does it appear with a rank of 1 in both years?

In [12]:
# SOLUTION CELL 3.1

#### Text solution cell 3.1

Type your answer here

**(2)** Before proceeding, let us reshape the data a little bit.

In [13]:
# DO NOT EDIT THIS CELL

happy_df_pivoted <- pivot_longer(happy_df, `2005`:`2019`, names_to="year", values_to="happiness_score")

Now, using `happy_df_pivoted` as the starting point, write a single command using pipes to execute the following steps in order: _**3 points**_

1. consider only the data for the years 2015 through 2019 (inclusive)
2. compute the average happiness score (put it in a column `average_happiness_score`), for the period 2015-2019, but only for those countries that have no missing data during this period
3. sort `average_happiness_score` in descending order and show the top 10 happiest countries for the period 2015-2019

In [14]:
# SOLUTION CELL 3.2

### Problem 4

#### Reversal paradox, _8 points_

![title](https://upload.wikimedia.org/wikipedia/commons/f/fb/Simpsons_paradox_-_animation.gif)

The **reversal paradox** (also called the **Simpson's paradox**, especially when categorical variables are involved) involves a situation when the overall correlation between a pair of variables, say `X` and `Y`, has one sign (say negative) but when the data is seperated into groups by a third variable `G`, each of the partial correlations (correlations between `X` and `Y` within a group with same value of `G`) have the opposite signs (say positive). See the animation above (courtesy [Wikipedia](https://en.wikipedia.org/wiki/Simpson%27s_paradox)) for an example.

In [15]:
# DO NOT EDIT THIS CELL

get_mystery_df <- function(rho,a,b,c,d) {
    n <- 500
    G <- sample(1:5, n, replace=TRUE)
    X <- rnorm(n)
    Y <- rnorm(n)
    rotated <- cbind(X,Y) %*% matrix(c(1,rho,rho,1),nrow=2,ncol=2)
    X <- rotated[,1] + a*G + b
    Y <- rotated[,2] + c*G + d
    return(tibble(X = X, Y = Y, G = factor(G)))
}


df1 <- get_mystery_df(0.7,-0.3,0.3*2.5,0.3,-0.3*2.5)

**(1)** For the mysterious tibble `df1` created above (has 500 rows and three columns `X`, `Y`, and `G`), create a scatterplot of `X` vs `Y` and superimpose the line of best fit on it (the line should be in *red* color). Make sure that just the line of best fit is plotted (i.e., any error bars should be turned off). _**2 points**_

In [16]:
# SOLUTION CELL 4.1

**(2)** Create the scatterplot of `X` vs `Y` again. But this time, points corresponding to different value of `G` must be plotted in different colors. Superimpose on this scattetplot the lines of best fit for each group of points (with groups determined by the categorical variable `G`). Make sure _all_ the lines of best fit are in _red_ color. Also make sure to turn off any error bars. _**2 points**_

In [17]:
# SOLUTION CELL 4.2

**(3)** Does the tibble `df1` exhibit the reversal paradox? Explain your answer. _**1 point**_

#### Text solution cell 4.3

Type your answer here

**(4)** Let us create a tibble `df2` which has the same dimensions and variables as `df1`.

In [18]:
# DO NOT EDIT THIS CELL

df2 <- get_mystery_df(-0.7,1.5,0,1.5,0)

Repeat part **(1)** above but now for the tibble `df2` defined in the previous cell. _**1 point**_

In [19]:
# SOLUTION CELL 4.4

**(5)** Repeat part **(2)** above but now for the tibble `df2`. _**1 point**_

In [20]:
# SOLUTION CELL 4.5

**(6)** Does the tibble `df2` exhibit the reversal paradox? Explain your answer. _**1 point**_

#### Text solution cell 4.6

Type your answer here